In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-
import os, sys
sys.modules
os.environ

if __name__ == "__main__":
    import os, sys
    import requests
    #反防爬，代理
    headers = {
        "user-agent":"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36"
    }

    res = requests.get("https://goodinfo.tw/StockInfo/StockDetail.asp?STOCK_ID=2330",headers = headers)
    res.encoding = "utf-8"

In [7]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(res.text,"lxml")
data = soup.select_one("#divTitleBar")

In [8]:
import pandas
dfs = pandas.read_html(data.prettify())

In [19]:
dfs[2]

      0   1   2   3   4
0  登入網站 NaN NaN NaN NaN